@import './css/buttons.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animaciones de entrada y salida para toasts */
.toast-enter-from,
.toast-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.toast-enter-active,
.toast-leave-active {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.toast-move {
  transition: transform 0.30s ease;
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 400ms ease-out;
}

@layer base {
  html,
  body {
    touch-action: manipulation;
    -webkit-text-size-adjust: 100%;
    overscroll-behavior: none;
  }
}

.notes-lined::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1.25rem; /* coincidir con pl-5 o pl-6 de las notas */
    width: 1px;
    background-color: theme('colors.status-accent'); /* azul pastel */
}

.dark .notes-lined::before {
    background-color: theme('colors.status-accent-dark'); /* azul pastel oscuro o el que definas */
}



html, body, #app {
  background-color: transparent !important; /* verde chillón */
}
