@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pop {
  0% {
    transform: scale(1);
  }
  15% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pop {
  animation: pop 400ms ease-out;
}
